altair
altair-viewer
bash_kernel
beautifulsoup4
cython>=3
fastapi[all]
flask
gunicorn
ipykernel
jupyterlab>=3
line_profiler
matplotlib
numba
numpy
pandas
pytest
requests
requests-cache
scipy
snakeviz
uvicorn
vega_datasets
